:root {
  --primary: #ff0482;
  --primary-light: #fd89be;
  --primary-dark: #c2005c;
  --primary-contrast-light: #fff;
  --primary-contrast-dark: #2d001c;

  --gray-100: #fce4ec;
  --gray-200: #f8bbd0;
  --gray-300: #f48fb1;
  --gray-400: #f06292;
  --gray-500: #ec407a;
  --gray-600: #e91e63;
  --gray-700: #ad1457;
  --gray-800: #880e4f;
  --gray-900: #560027;
}
